@using PMS.WebUI.Resources;
@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<ul class="nav navbar-nav">
    <li class="liItem disabledLi dropdown" id="btnEngineers">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@SystemResource.Men_Engineers<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="SiteEngCategory"><a id="btnSiteEngCategory" href="#">@SystemResource.Men_SiteEngCategory</a></li>
            <li class="liItem disabledLi" key="SiteEngineer"><a id="btnSiteEngineer" href="#">@SystemResource.Men_SiteEngineer</a></li>
            <li class="liItem disabledLi" key="SalesEngCategory"><a id="btnSalesEngCategory" href="#">@SystemResource.Men_SalesEngCategory</a></li>
            <li class="liItem disabledLi" key="SalesEngineer"><a id="btnSalesEngineer" href="#">@SystemResource.Men_SalesEngineer</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnLaborDefinitionMenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@SystemResource.Men_LaborDefinition<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="LaborCategory"><a id="btnLaborCategory" href="#">@SystemResource.Men_LaborCategory</a></li>
            <li class="liItem disabledLi" key="LaborClass"><a id="btnLaborClass" href="#">@SystemResource.Men_LaborClass</a></li>
            <li class="liItem disabledLi" key="LaborDefinition"><a id="btnLaborDefinition" href="#">@SystemResource.Men_LaborDefinition</a></li>
            <li class="liItem disabledLi" key="LaborAbsenceReasons"><a id="btnLaborAbsenceReasons" href="#">@SystemResource.Men_LaborAbsenceReasons</a></li>
            <li class="liItem disabledLi" key="LaborOvertimetypes"><a id="btnLaborOvertimetypes" href="#">@SystemResource.Men_LaborOvertimetypes</a></li>
            <li class="liItem disabledLi" key="UnProductioncategory"><a id="btnUnProductioncategory" href="#">@SystemResource.Men_UnProductioncategory</a></li>
            <li class="liItem disabledLi" key="UnProductionreasons"><a id="btnUnProductionreasons" href="#">@SystemResource.Men_UnProductionreasons</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnEquipToolsDefinition">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  @SystemResource.Men_EquipToolsDefinition<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="EquipmentCategory"><a id="btnEquipmentCategory" href="#">@SystemResource.Men_EquipmentCategory</a></li>
            <li class="liItem disabledLi" key="EquipmentDefinition"><a id="btnEquipmentDefinition" href="#">@SystemResource.Men_EquipmentDefinition</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnExpensesMenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  @SystemResource.Men_Expenses<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="ExpensesCategory"><a id="btnExpensesCategory" href="#"> @SystemResource.Men_ExpensesCategory</a></li>
            <li class="liItem disabledLi" key="Expenses"><a id="btnExpenses" href="#">@SystemResource.Men_Expenses</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnAreaDefinition">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  @SystemResource.Men_AreaDefinition<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="LocationDefinition"><a id="btnLocationDefinition" href="#">@SystemResource.Men_LocationDefinition</a></li>
            <li class="liItem disabledLi" key="PeriodManagement"><a id="btnPeriodManagement" href="#">@SystemResource.Men_PeriodManagement</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnActivityInfoBank">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @SystemResource.Men_ActivityInformationBank<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="ScopeClassandCat"><a id="btnScopeClassandCat" href="#">@SystemResource.Men_ScopeClassandCat</a></li>
            <li class="liItem disabledLi" key="ScopeDefinition"><a id="btnScopeDefinition" href="#">@SystemResource.Men_ScopeDefinition</a></li>

        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnOtherDefinition">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">  @SystemResource.Men_OtherDefinition<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi" key="UnitsOfMeasure"><a id="btnUnitsOfMeasure" href="#">@SystemResource.Men_UnitsOfMeasure</a></li>
            <li class="liItem disabledLi" key="CalendarDefinition"><a id="btnCalendarDefinition" href="#">@SystemResource.Men_CalendarDefinition</a></li>
            <li class="liItem disabledLi" key="Nationality"><a id="btnNationality" href="#">@SystemResource.Men_Nationality</a></li>
            <li class="liItem disabledLi" key="SystemSetting"><a id="btnSystemSetting" href="#">@SystemResource.Men_SystemSetting</a></li>
            <li class="liItem disabledLi" key="UsersSetting"><a id="btnUsersSetting" href="#">@SystemResource.Men_UsersSetting</a></li>
        </ul>
    </li>
</ul>
@*//------------------------------------------------------NewSession---------------------------------------*@
<div class="modal fade messagealert" id="modalSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MessageBoxTitle">الوقت!!</h4>
            </div>
            <div class="modal-body" style="max-height:200px; overflow:auto;">
                <div class="col-xs-7"> <h3 id="MessageBoxMessage">لقد استنفذت وقت الجلسة هل تريد الاستمرار </h3></div>
                <div class="col-xs-5 text-center">
                    <i class="glyphicon btn-danger"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SessionBoxOk" class="btn btn-danger">نعم</button>
                <button type="button" id="SessionBoxCancel" class="btn btn-warning" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>


<style>
    .display_none {
        display: none
    }
</style>
<span id="timeLeft" class="admin-name display_none" style="color: red;font-weight: bold;     margin-right: 76%;font-size: 20px;"></span>
<input id="idSession" value="10" class="display_none" />
<select id="SelectSession" class="display_none">
    <option value="0">off</option>
    <option value="1">on</option>
    <option value="2">out</option>
</select>
<script>
    debugger
    var timeInSecondsAfterSessionOut = 0;
    $(function () {
        $("body").on('mousemove', function () {
            $("#timeLeft").addClass('display_none');
            ResetThisSession();
        });
    });
    $('#SelectSession').on('change', function () {
        timeInSecondsAfterSessionOut = Number($('#idSession').val()) * 60; // change this to change session time out (in seconds).
        $("#timeLeft").html(timeInSecondsAfterSessionOut);
    });
    timeInSecondsAfterSessionOut = Number($('#idSession').val()) * 60; // change this to change session time out (in seconds).
    $("#timeLeft").html(timeInSecondsAfterSessionOut);
    var secondTick = 0;
    StartThisSessionTimer();
    function ResetThisSession() {
        secondTick = 0;
    }
    var SessionBoxOk = document.getElementById("SessionBoxOk");
    var SessionBoxCancel = document.getElementById("SessionBoxCancel");
    function StartThisSessionTimer() {
        secondTick++;
        var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes
        timeLeft = timeInSecondsAfterSessionOut - secondTick; // override, we have 30 secs only
        if (timeLeft == 9) {
            $("#timeLeft").removeClass('display_none')
        }
        $("#timeLeft").html(timeLeft);
        if (secondTick > timeInSecondsAfterSessionOut) {
            clearTimeout(tick);
            var chak = false;
            $("#modalSession").modal("show");
            $("#timeLeft").addClass('display_none');
            $("#" + SessionBoxOk.id).click(() => {
                $("#timeLeft").addClass('display_none')
                secondTick = 0;
                $("#modalSession").modal("hide");
                chak = true;
            });
            $("#" + SessionBoxCancel.id).click(() => {
                $('#SelectSession option[value=2]').prop('selected', 'selected').change();
                $("#modalSession").modal("hide");
                chak = false;
            });
            setTimeout(function () {
                if (chak == false) {
                    $('#SelectSession option[value=2]').prop('selected', 'selected').change();
                }
            }, 10000);
        }
        tick = setTimeout("StartThisSessionTimer()", 1000);
    }
</script>
@*//---------------------------------------------------------------------------------------------------------------*@