@using PMS.WebUI.Resources;
@{
                /**/

                ViewBag.Title = "HomeMonitoringIndex";
                Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<ul class="nav navbar-nav">
    <li class="liItem disabledLi dropdown" id="btnRepMonitoring">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @SystemResource.REP_Monitoring<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi"><a id="btnRepProjectDist" href="#">@SystemResource.Men_ProjectDistribution</a></li>
            <li class="liItem disabledLi"><a id="btnRepProjectPhaseDis" href="#">@SystemResource.Men_ProjectPhaseDistribution</a></li>
            <li class="liItem disabledLi"><a id="btnRepProjectWorking" href="#">@SystemResource.Men_ProjectWorking</a></li>
            <li class="liItem disabledLi"><a id="btnRepProjectFollowUp" href="#">@SystemResource.Men_ProjectFollowUp</a></li>
            @*<li class="liItem disabledLi"><a id="btnRepProjectBandFollow" href="#">@SystemResource.Men_ProjectBandFollowUp</a></li>*@
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnRepEvaluation">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @SystemResource.REP_RepEvaluation<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi"><a id="btnRepLaborEvaluation" href="#">@SystemResource.Men_RepLaborEvaluation</a></li>
            <li class="liItem disabledLi"><a id="btnRepSiteEngineerBonus" href="#">@SystemResource.Men_RepSiteEngineerBonus</a></li>
            <li class="liItem disabledLi"><a id="btnRepProjectEvaluation" href="#">@SystemResource.Men_RepProjectEvaluation</a></li>
        </ul>
    </li>
    <li class="liItem disabledLi dropdown" id="btnRepVariance">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @SystemResource.RepVariance<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="liItem disabledLi"><a id="btnRepProjectCost" href="#">@SystemResource.Men_RepProjectCost</a></li>
            <li class="liItem disabledLi"><a id="btnRepProjectCostVarian" href="#">@SystemResource.Men_RepProjectCostVarian</a></li>
            @*<li class="liItem disabledLi"><a id="btnRepMaterialCoverage" href="#">@SystemResource.Men_RepMaterialCoverage</a></li>*@
            <li class="liItem disabledLi"><a id="btnRepLaborCostVariance" href="#">@SystemResource.Men_RepLaborCostVariance</a></li>
            <li class="liItem disabledLi"><a id="btnRepEquipCostVariance" href="#">@SystemResource.Men_RepEquipCostVariance</a></li>
        </ul>
    </li>
</ul>


@*//------------------------------------------------------NewSession---------------------------------------*@
<div class="modal fade messagealert" id="modalSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="MessageBoxTitle">الوقت!!</h4>
            </div>
            <div class="modal-body" style="max-height:200px; overflow:auto;">
                <div class="col-xs-7"> <h3 id="MessageBoxMessage">لقد استنفذت وقت الجلسة هل تريد الاستمرار </h3></div>
                <div class="col-xs-5 text-center">
                    <i class="glyphicon btn-danger"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SessionBoxOk" class="btn btn-danger">نعم</button>
                <button type="button" id="SessionBoxCancel" class="btn btn-warning" data-dismiss="modal">لا</button>
            </div>
        </div>
    </div>
</div>


<style>
    .display_none {
        display: none
    }
</style>
<span id="timeLeft" class="admin-name display_none" style="color: red;font-weight: bold;     margin-right: 76%;font-size: 20px;"></span>
<input id="idSession" value="10" class="display_none" />
<select id="SelectSession" class="display_none">
    <option value="0">off</option>
    <option value="1">on</option>
    <option value="2">out</option>
</select>
<script>
    debugger
    var timeInSecondsAfterSessionOut = 0;
    $(function () {
        $("body").on('mousemove', function () {
            $("#timeLeft").addClass('display_none');
            ResetThisSession();
        });
    });
    $('#SelectSession').on('change', function () {
        timeInSecondsAfterSessionOut = Number($('#idSession').val()) * 60; // change this to change session time out (in seconds).
        $("#timeLeft").html(timeInSecondsAfterSessionOut);
    });
    timeInSecondsAfterSessionOut = Number($('#idSession').val()) * 60; // change this to change session time out (in seconds).
    $("#timeLeft").html(timeInSecondsAfterSessionOut);
    var secondTick = 0;
    StartThisSessionTimer();
    function ResetThisSession() {
        secondTick = 0;
    }
    var SessionBoxOk = document.getElementById("SessionBoxOk");
    var SessionBoxCancel = document.getElementById("SessionBoxCancel");
    function StartThisSessionTimer() {
        secondTick++;
        var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes
        timeLeft = timeInSecondsAfterSessionOut - secondTick; // override, we have 30 secs only
        if (timeLeft == 9) {
            $("#timeLeft").removeClass('display_none')
        }
        $("#timeLeft").html(timeLeft);
        if (secondTick > timeInSecondsAfterSessionOut) {
            clearTimeout(tick);
            var chak = false;
            $("#modalSession").modal("show");
            $("#timeLeft").addClass('display_none');
            $("#" + SessionBoxOk.id).click(() => {
                $("#timeLeft").addClass('display_none')
                secondTick = 0;
                $("#modalSession").modal("hide");
                chak = true;
            });
            $("#" + SessionBoxCancel.id).click(() => {
                $('#SelectSession option[value=2]').prop('selected', 'selected').change();
                $("#modalSession").modal("hide");
                chak = false;
            });
            setTimeout(function () {
                if (chak == false) {
                    $('#SelectSession option[value=2]').prop('selected', 'selected').change();
                }
            }, 10000);
        }
        tick = setTimeout("StartThisSessionTimer()", 1000);
    }
</script>
@*//---------------------------------------------------------------------------------------------------------------*@