@using PMS.WebUI.Resources;
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Safe PMS</title>
    <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
    <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
    <meta name="author" content="Codrops" />
    <link href="~/css/background.css" rel="stylesheet" />
    <script src="~/js/jquery3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/css/icon.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="~/css/waitMe.css">
    <link rel="stylesheet" href="~/css/favourite.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery.slidepanel.css">
    <link rel="stylesheet" href="~/css/jqpagination.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</head>

<body> 
    <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
    <input type="hidden" id="GetAPIUrl" name="name" value="@System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"]" />
    <div class="container-fluid main-menu" style="margin:0%;padding:0%;">
        <nav class="navbar navbar-default">
            <div class="container-fluid"> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    @RenderBody() 
                </div> 
            </div> 
        </nav> 
    </div>

    <script src="~/ClientApp/Entities.js"></script>
    <script src="~/ClientApp/Shared.js"></script>
    <script src="~/ClientApp/App.js"></script>
    <script src="~/ClientApp/SystemTools.js"></script>
    <script src="~/ClientApp/MessageBox.js"></script>
    <script src="~/ClientApp/HomeComponent.js"></script> 
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/my_js.js"></script>  
    <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
    <input type="hidden" id="ModelPreview" name="name" value="" />
    <input type="hidden" id="SearchControlName" name="name" value="" /> 
    @Html.Partial("../Partial/ReportsPopup") 
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/ClientApp/DataTable.js"></script>
    <script src="~/js/waitMe.js"></script>
</body>
</html>