@using PMS.WebUI.Resources
@{
    ViewBag.ScreenKey = "LaborRequestIndex";
    ViewBag.Title = SystemResource.Men_LaborRequest;
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="row">
	<div class="col-xs-12 color1">
		@Html.ControlsButtons()
	</div>
	<div class="clear"></div>
	<div class="col-xs-12 dir" id="effects">


		<div style="height:5px"></div>
		<div class="clear"></div>
		<form>
			<div class="col-xs-12">


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_requestno</label>
						<div class="col-sm-2 col-xs-12" style="width:140px;">
                            <input type="hidden" class="form-control input-sm" name="RequestLabourId" id="txtRequestLabourId">
							<input type="text" maxlength="100" class="form-control input-sm xaddable xeditable" name="TrNo" id="txtTrNo" />
						</div>
						<div class="info-btn col-md-1">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="btnSearchRequest">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
						<label class="col-sm-2 col-xs-12 control-label text-right authorize_laborrequest">@SystemResource.Fld_Authorize :</label>

						<div class="col-xs-2">
							<input type="checkbox" class="checkdef col-xs-2" style="margin-left:-13%;height: 0px;margin-top: 12px;" name="Status" id="ChkStatus">
						</div>
					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_scheduleno</label>
						<div class="col-sm-2 col-xs-12" style="width:140px;">
                            @*<input type="hidden" class="form-control input-sm" name="ScheduleId" id="txtScheduleId">*@
							<input type="text" maxlength="100" class="form-control input-sm" disabled="disabled" name="ScheduleId" id="txtScheduleId" />
						</div>


						<div class="info-btn col-md-1" style="width: 50px;">
							@*<button type="button" class="src-btn btn btn-warning addable editable fst_serach_proj" id="btnSearchScdule">
								<i class="glyphicon glyphicon-search"></i>
							</button>*@
						</div>
                        <div class="col-sm-2">
                            <input type="text" maxlength="100" class="form-control input-sm" disabled="disabled" name="WorkDescr" id="txtWorkDescr" />

                        </div>
						<div class="col-md-6 labor_request_section">
							<label for="txtDescE" class="col-sm-3 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_requestdate</label>
							<div class="col-sm-4 col-xs-12">
								<input type="date" maxlength="100" class="form-control input-sm addable editable" name="TrDate" id="txtTrDate" />
							</div>
						</div>



					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_project</label>
						<div class="col-sm-1 col-xs-12">
                            <input type="hidden" class="form-control input-sm" name="ProjectID" id="txtProjectID">
							<input type="text" maxlength="100" class="form-control input-sm" disabled="disabled" name="Prj_ProjectCode" id="txtPrj_ProjectCode" />
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12 ">
							<input type="text" maxlength="20" class="form-control input-sm" disabled="disabled" name="Prj_DescE" id="txtPrj_DescE" />
						</div>

						<div class="col-md-6 ">
							<label for="txtDescE" class="col-sm-3 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_fromdate</label>
							<div class="col-sm-4 col-xs-12">
								<input type="datetime-local" maxlength="100" class="form-control input-sm addable editable" style="width: 180px;" name="StartDateTime" id="txtStartDateTime" />
							</div>
						</div>



					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_phase</label>
						<div class="col-sm-1 col-xs-12">
                            <input type="hidden" class="form-control input-sm" name="ProjectPhaseId" id="txtProjectPhaseId">
							<input type="text" maxlength="100" class="form-control input-sm" disabled="disabled" name="Phase_ProjectPhaseCode" id="txtPhase_ProjectPhaseCode" />
						</div>
						<div class="col-md-3 col-sm-4 col-xs-12 ">
							<input type="text" maxlength="20" class="form-control input-sm" disabled="disabled" name="Phase_DescE" id="txtPhase_DescE" />
						</div>

						<div class="col-md-6">
							<label for="txtDescE" class="col-sm-3 col-xs-12 control-label text-right"> @SystemResource.ResM_fld_laborrequest_todate</label>
							<div class="col-sm-4 col-xs-12">
								<input type="datetime-local" maxlength="100" class="form-control input-sm addable editable" style="width: 180px;" name="EndDateTime" id="txtEndDateTime" />
							</div>
						</div>

						
					</div>
				</div>

			
				<div class="col-xs-12 form-horizontal" id="laborrequirmentsec" style="height: 450px;">
					<style>
                        .jsgrid-grid-body {
                            height: 370px!important;
                            max-height: 370px!important;
                        }
					</style>

					<div class="" style="height:420px;overflow:unset">
						<table id="GridParent"></table>
					</div>
				</div>
			</div>

			@*<div class="col-xs-12 form-horizontal" id="freelaborssec">
				<style>
					.jsgrid-grid-body {
						height: 450px !important;
					}
				</style>

				<div class="form-group" style="height: 330px;">
					<table id="GridChild"></table>
				</div>
			</div>*@

	</form>
</div>

	
	<script src="~/ClientApp/JsGrid.js"></script>
	@Html.Partial("../Partial/Navigator")
	<script src="~/ClientApp/Components/ResourceManagement/03_Labor/LaborRequest.js"></script>
</div>


<style>
    .jsgrid-grid-header {
        height: 20px !important;
    }
</style>