
@using PMS.WebUI.Resources


<div class="clear"></div>
<label for="rpTitle" style="display:none" id="rpTitle" langRef="Rep_AttendanceAndLeaveS">@SystemResource.Resm_Laborutilization</label>
<div class="row">
    <div class="clear"></div>
    <div class="col-xs-12 dir" id="effects">
        <div style="height:5px"></div>
        <div class="clear"></div>
        <form class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.ResM_fld_laborrequest_fromdate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="date" class="form-control input-sm" id="FromDate" name="FromDate">
                        </div>

                        <label class="col-sm-2 col-xs-12 control-label text-right" style="width: 93px;">@SystemResource.ResM_fld_laborrequest_todate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:19.9%">
                            <input type="date" class="form-control inpt-sm" id="ToDate">
                        </div>

                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.work_laborclass</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtLaborClassID" id="txtLaborClassID">
                            <input type="text" class="form-control input-sm"  disabled="disabled" id="txtLaborClassRP" name="txtLaborClassRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnLaborClassRP" name="btnLaborClassRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtLaborClass1RP">
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <input type="radio" class="radio_resm" name="status" />
                            <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Resm_Utilization</label>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Men_LaborCategory</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtLaborCategoryID" id="txtLaborCategoryID">
                            <input type="text" class="form-control input-sm"  disabled="disabled" id="txtLaborCategoryRP" name="txtLaborCategoryRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnLaborCategoryRP" name="btnLaborCategoryRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtLaborCategory1RP">
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <input type="radio" class="radio_resm" name="status" />
                            <label class="col-sm-2 col-xs-12 control-label text-right" style="width:120px;">@SystemResource.Resm_FreeLabor</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script src="~/ClientApp/Components/ResourceManagement/05_Reports/Laborutilization.js"></script>


