@using PMS.WebUI.Resources;


<div class="clear"></div>
<label for="rpTitle" style="display:none" id="rpTitle">@SystemResource.Men_OfferList</label>
<form class="col-xs-12">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Fld_FromDate</label>
                <div class="col-md-2 col-sm-4 col-xs-5">
                    <input type="date" class="form-control input-sm" id="FromDate" name="FromDate">
                </div>
                <label class="col-sm-1 col-xs-12 control-label text-right"> @SystemResource.Fld_ToDate</label>
                <div class="col-md-2 col-sm-4 col-xs-5">
                    <input type="date" class="form-control input-sm" id="ToDate" name="ToDate">
                </div>
                @*<div class="col-xs-2"></div>
                    <div class="col-xs-3">
                        <button class="col-xs-9 btn btn-warning" type="button"> New Project </button>
                    </div>*@
            </div>
        </div>
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Men_CustomerCategory </label>
                <div class="col-md-1 col-sm-4 col-xs-5">
                    <input type="text" class="form-control input-sm " disabled="disabled" id="txtCustomercCodeRP" name="CustomerCategoryID">
                    <input type="hidden" class="form-control input-sm " disabled="disabled" id="txtCustomercIDRP" name="CustomerCategoryID">

                </div>
                <div class="info-btn">

                    <button type="button" class="btn btn-info" id="btnCustomerCatRP" name="btnCustomerCatRP">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-5"  >

                    <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtCustomerName1RP">
                </div>

            </div>

        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Def_customer </label>
                <div class="col-md-1 col-sm-4 col-xs-5">
                    <input type="text" class="form-control input-sm" disabled="disabled" id="txtCustomerCodeRP" name="CustomerCode">
                    <input type="hidden" class="form-control input-sm" name="CustomerID" id="txtCustomerIDRP">
                </div>
                <div class="info-btn">
                    <button class="btn btn-info" type="button" id="btnCustomerCodeRP">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-5" >

                    <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtCustomerNameRP">
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">

                <label class="col-md-2 col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Fld_SalesEngineerId </label>
                <div class="col-md-1 col-sm-4 col-xs-5">
                    <input class="form-control input-sm " disabled="disabled" name="SalesEngineerId" id="txtSalesEngineerIdRP">
                    <input type="hidden" class="form-control input-sm " disabled="disabled" name="SalesEngineerId" id="txtSalesEngineerIdHRP">
                </div>
                <div class="info-btn">
                    <button type="button" class="src-btn btn btn-warning" id="butEngCodeRP">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="catin col-md-4 col-sm-4 col-xs-5">
                    <input type="text" class="form-control inpt-sm " disabled="disabled" id="txtDescECatRP">
                </div>


            </div>
        </div>
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Fld_Location </label>
                <div class="col-md-1 col-sm-4 col-xs-5">
                    <input type="hidden" class="form-control input-sm" disabled="disabled" name="txtLocation" id="txtLocation">
                    <input type="text" class="form-control input-sm" disabled="disabled" name="txtLocation" id="txtLocationCod">
                </div>
                <div class="info-btn">
                    <button type="button" class="btn btn-info src-btn btn btn-warning" id="btnLocation" name="btnLocation">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="catin col-md-4 col-sm-4 col-xs-5">
                    <input type="text" class="form-control inpt-sm " disabled="disabled" id="txtLocationdsc" name="txtLocationdsc">
                </div>
            </div>
        </div>
        <div class="col-xs-10">

            <div class="col-xs-12 form-group radio_sec form-horizontal">
                <label class="area_label active_label"> @SystemResource.Fld_Status </label>
                <div class="col-lg-2 col-xs-3" style="color:#1cb3f9;">
                    <input type="radio" id="rpNew" name="IsActive" value="option1">
                    <label class="radio_report">@SystemResource.rpNew</label>
                </div>
                <div class="col-lg-2 col-xs-3" style="color:green;">
                    <input type="radio" id="rpApproved" name="IsActive" value="option1">
                    <label class="radio_report">@SystemResource.rpApproved</label>
                </div>


                <div class="col-lg-2 col-xs-3" style="color:#1cb3f9;">
                    <input type="radio" id="rpBillingterms" name="IsActive" value="option1">
                    <label class="radio_report offerlist_radio">@SystemResource.rpBillingterms</label>
                </div>

                <div class="col-lg-2 col-xs-3 radiosection radiosectionbutton" style="color:red;">
                    <input type="radio" id="rpSendTocustomer" name="IsActive" value="IsTemporary">
                    <label class="radio_report">@SystemResource.rpSendTocustomer</label>
                </div>
                <div class="col-lg-2 col-xs-3" style="color:#1cb3f9;">
                    <input type="radio" id="rpContracted" name="IsActive" value="option1">
                    <label class="radio_report">@SystemResource.rpContracted</label>
                </div>

                <div class="col-lg-2 col-xs-3" style="color:red;margin-left: -11px;">
                    <input type="radio" id="rpSpecification" name="IsActive" value="IsTemporary">
                    <label class="radio_report">@SystemResource.rpSpecification</label>
                </div>
                
                <div class="col-lg-2 col-xs-3 radiosectionbutton" style="color:green;">
                    <input type="radio" id="rpCostEstimation" name="IsActive" value="option1">
                    <label class="radio_report offerlist_radio">@SystemResource.rpCostEstimation</label>
                </div>
              
                <div class="col-lg-2 col-xs-3" style="color:red;">
                    <input type="radio" id="StartWork" name="IsActive" value="IsTemporary" checked="checked">
                    <label class="radio_report">@SystemResource.Fld_Start_Work</label>
                </div>
               
                <div class="col-lg-2 col-xs-3" style="color:green;">
                    <input type="radio" id="rpCanceled" name="IsActive" value="option1">
                    <label class="radio_report">@SystemResource.rpCanceled</label>
                </div>
                <div class="col-lg-2 col-xs-3" style="color:red;">
                    <input type="radio" id="rpRejected" name="IsActive" value="IsTemporary">
                    <label class="radio_report">@SystemResource.rpRejected</label>
                </div>
                <div class="col-lg-2 col-xs-3" style="color:red;">
                    <input type="radio" id="AllRP" name="IsActive" value="IsTemporary" checked="checked">
                    <label class="radio_report">@SystemResource.Fld_all</label>
                </div>
              
            </div>
        </div>

    </div>
</form>
@*<script src="~/ClientApp/Components/Sales/04_Reports/ContractList.js"></script>*@
<script src="~/ClientApp/Components/Sales/04_Reports/OfferList.js"></script>


