
@using PMS.WebUI.Resources


<div class="clear"></div>
<label for="rpTitle" style="display:none" id="rpTitle" langRef="Rep_AttendanceAndLeaveS">@SystemResource.Resm_Equipmentmovement </label>
<div class="row">
    <div class="clear"></div>
    <div class="col-xs-12 dir" id="effects">
        <div style="height:5px"></div>
        <div class="clear"></div>
        <form class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.ResM_fld_laborrequest_fromdate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="date" class="form-control input-sm" id="FromDate" name="FromDate">
                        </div>

                        <label class="col-sm-2 col-xs-12 control-label text-right" style="width: 93px;">@SystemResource.ResM_fld_laborrequest_todate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:19.9%">
                            <input type="date" class="form-control inpt-sm"  id="ToDate">
                        </div>

                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.ResM_Mat_EquipRequest_equipclass</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtEquipmentClassID" id="txtEquipmentClassID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtEquipmentClassRP" name="txtEquipmentClassRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnEquipmentClassRP" name="btnEquipmentClassRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtEquipmentClass1RP">
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Resm_fromequip</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtFromEquipmentID" id="txtFromEquipmentID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtFromEquipmentRP" name="txtFromEquipmentRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnFromEquipmentRP" name="btnFromEquipmentRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtFromEquipment1RP">
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Resm_toequip</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtToEquipmentID" id="txtToEquipmentID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtToEquipmentRP" name="txtToEquipmentRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnToEquipmentRP" name="btnToEquipmentRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtToEquipment1RP">
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script src="~/ClientApp/Components/ResourceManagement/05_Reports/Equipmentmovement.js"></script>



