
@using PMS.WebUI.Resources

<div class="row">

	<div class="clear"></div>
	<div class="col-xs-12 dir" id="effects">

		<div style="height:5px"></div>
		<div class="clear"></div>
		<form>
			<div class="col-xs-12">

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtEngCode" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Fld_FromDate </label>
						<div class="col-md-1 col-sm-4 col-xs-5" style="width: 134px;">
							<input type="date" class="form-control input-sm addable editable" style="width: 141px;" name="EngCode" id="txtEngCode">
						</div>

						<div class="col-md-6 ">
							<label for="txtEngCode" class="col-sm-2 col-xs-12 control-label text-right" style="width: 79px;"> @SystemResource.Fld_ToDate </label>
							<div class="col-md-3 col-sm-4 col-xs-5" style="width: 203px;">
								<input type="date" class="form-control input-sm addable editable" style="width: 137px;" name="EngCode" id="txtEngCode">
							</div>
						</div>

					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Men_SubContractor </label>
						<div class="col-sm-1 col-xs-12" style="width:119px">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>


					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Eve_siteenginer</label>
						<div class="col-sm-1 col-xs-12" style="width:119px">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>
					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.Fld_UpdatedBy </label>
						<div class="col-sm-1 col-xs-12" style="width:119px">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>
</div>



