@using PMS.WebUI.Resources

<div class="row">
	<div class="clear"></div>
	<div class="col-xs-12 dir" id="effects">

		<div style="height:5px"></div>
		<div class="clear"></div>
		<form>
			<div class="col-xs-12">

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.Fld_FromDate </label>
						<div class="col-sm-2 col-xs-12" style="width: 168px;">
							<input type="date" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right sub_contr_date" style="width: 129px;"> @SystemResource.Fld_ToDate </label>
						<div class="col-sm-2 col-xs-12" style="width:168px;">
							<input type="date" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="col-md-6 activity_scope_def">
						</div>

					</div>
				</div>



				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.work_subcontr</label>
						<div class="col-sm-1 col-xs-12" style="width: 136px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width: 53px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-12 production_input">
							<input type="text" maxlength="20" class="form-control input-sm addable editable" name="offerno" id="offerno" />
						</div>

						<div class="col-md-6 pull-right">

						</div>
					</div>
				</div>



				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.Eng_project</label>
						<div class="col-sm-1 col-xs-12" style="width: 136px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width: 53px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-12 production_input">
							<input type="text" maxlength="20" class="form-control input-sm addable editable" name="offerno" id="offerno" />
						</div>
						<div class="col-md-6 pull-right">

						</div>
					</div>
				</div>



				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.Def_projecphase</label>
						<div class="col-sm-1 col-xs-12" style="width: 136px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width: 53px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-12 production_input">
							<input type="text" maxlength="20" class="form-control input-sm addable editable" name="offerno" id="offerno" />
						</div>

						<div class="col-md-6 pull-right">

						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.sub_contact</label>
						<div class="col-sm-1 col-xs-12" style="width: 136px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width: 53px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-12 production_input">
							<input type="text" maxlength="20" class="form-control input-sm addable editable" name="offerno" id="offerno" />
						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right" style="width: 107px;"> @SystemResource.work_so</label>
						<div class="col-sm-1 col-xs-12" style="width: 136px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width: 53px;">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-2 col-sm-4 col-xs-12 production_input">
							<input type="text" maxlength="20" class="form-control input-sm addable editable" name="offerno" id="offerno" />
						</div>
					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-md-6"></div>

						<div class="col-md-6" style="margin-top: -152px;">
							<div class="radiostyle">
								<div class="col-md-12" style="height:30px;margin-top: 42px;">
									<label class="production_label">By Activity</label>
									<div class="col-md-1">
										<input type="radio" checked name="activity" class="production_inputradio" />
									</div>
								</div>
								<div class="col-md-12" style="height:30px">
									<label class="production_label">By Phase</label>
									<div class="col-md-1">
										<input type="radio" name="activity" class="production_inputradio" />
									</div>
								</div>
								<div class="col-md-12" style="height:30px">
									<label class="production_label">By Project</label>
									<div class="col-md-1">
										<input type="radio" name="activity" class="production_inputradio" />
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>

