@using PMS.WebUI.Resources


<div class="row">
	<div class="clear"></div>
	<div class="col-xs-12 dir" id="effects">

		<div style="height:5px"></div>
		<div class="clear"></div>
		<form>
			<div class="col-xs-12">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.work_fromsubcontr </label>
						<div class="col-sm-1 col-xs-12" style="width: 120px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.work_tosubcontr</label>
						<div class="col-sm-1 col-xs-12" style="width: 120px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>
					</div>
				</div>


				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.def_scope</label>
						<div class="col-sm-1 col-xs-12" style="width: 120px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<div class="info-btn col-md-1" style="width:56px">
							<button type="button" class="src-btn btn btn-warning xaddable xeditable fst_serach_proj" id="butEngCode" name="butEngCode">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>

						<div class="col-md-3 col-sm-4 col-xs-12">
							<input type="text" maxlength="20" class="form-control input-sm addable editable sub_contr_sub" name="offerno" id="offerno" />
						</div>
					</div>
				</div>

				<div class="form-horizontal">
					<div class="form-group">
						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right"> @SystemResource.work_Evalutionform </label>
						<div class="col-sm-1 col-xs-12" style="width: 120px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>

						<label for="txtDescE" class="col-sm-2 col-xs-12 control-label text-right evalution_label"> @SystemResource.work_Evalutionformto </label>
						<div class="col-sm-1 col-xs-12" style="width: 151px;">
							<input type="text" maxlength="100" class="form-control input-sm addable editable" name="DescE" id="txtDescE" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
