
@using PMS.WebUI.Resources


<div class="clear"></div>
<label for="rpTitle" style="display:none" id="rpTitle" langRef="Rep_AttendanceAndLeaveS">@SystemResource.Resm_Equipmentutilization </label>
<div class="row">
    <div class="clear"></div>
    <div class="col-xs-12 dir" id="effects">
        <div style="height:5px"></div>
        <div class="clear"></div>
        <form class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.ResM_fld_laborrequest_fromdate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="date" class="form-control input-sm" id="FromDate" name="FromDate">
                        </div>

                        <label class="col-sm-2 col-xs-12 control-label text-right" style="width: 93px;">@SystemResource.ResM_fld_laborrequest_todate</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:19.9%">
                            <input type="date" class="form-control inpt-sm" id="ToDate">
                        </div>

                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Eng_Fld_projectexpFromproject</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="text" class="form-control input-sm" id="txtFromProjectRP" name="txtFromProjectRP">
                        </div>

                        <label class="col-sm-2 col-xs-12 control-label text-right" style="width: 93px;">@SystemResource.Eng_Fld_projectexpToproject</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:19.9%">
                            <input type="text" class="form-control inpt-sm" id="txtToProjectRP">
                        </div>


                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Spec_ProjectEngineer</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="hidden" class="form-control input-sm" name="txtProjectEngineerID" id="txtProjectEngineerID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtProjectEngineerRP" name="txtProjectEngineerRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnProjectEngineerRP" name="btnProjectEngineerRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:25.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtProjectEngineer1RP">
                        </div>
                    </div>
                </div>
                @*<div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Cust_BraCode</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="hidden" class="form-control input-sm" name="txtAreaID" id="txtAreaID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtAreaRP" name="txtAreaRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnAreaRP" name="btnAreaRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:25.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtArea1RP">
                        </div>
                    </div>
                </div>*@
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Eng_Rep_Dailyworkprod_scopecat</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="hidden" class="form-control input-sm" name="txtScopeCatID" id="txtScopeCatID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtScopeCatRP" name="txtScopeCatRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnScopeCatRP" name="btnScopeCatRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:25.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtScopeCat1RP">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Fld_Scope</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="hidden" class="form-control input-sm" name="txtScopeID" id="txtScopeID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtScopeRP" name="txtScopeRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnScopeRP" name="btnScopeRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:25.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtScope1RP">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Fld_EquipClassId</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width: 109px;">
                            <input type="hidden" class="form-control input-sm" name="txtEquipClassID" id="txtEquipClassID">
                            <input type="text" class="form-control input-sm" disabled="disabled" id="txtEquipClassRP" name="txtEquipClassRP">
                        </div>
                        <div class="info-btn">
                            <button type="button" class="btn btn-warning" id="btnEquipClassRP" name="btnEquipClassRP">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:30.5%">
                            <input type="text" class="form-control inpt-sm" disabled="disabled" id="txtEquipClass1RP">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-12 control-label text-right">@SystemResource.Resm_fromequip</label>
                        <div class="col-md-2 col-sm-4 col-xs-5">
                            <input type="text" class="form-control input-sm" id="txtFromLaborRP" name="txtFromProjectRP">
                        </div>

                        <label class="col-sm-2 col-xs-12 control-label text-right" style="width: 93px;">@SystemResource.Resm_toequip</label>
                        <div class="col-md-2 col-sm-4 col-xs-5" style="width:19.9%">
                            <input type="text" class="form-control inpt-sm" id="txtToLaborRP">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/ClientApp/Components/ResourceManagement/05_Reports/Equipmentwork.js"></script>



